/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		appearance: none;
		transition: background-color $duration-transition ease-in-out,
		            color $duration-transition ease-in-out,
		            border-color $duration-transition ease-in-out;
		background-color: transparent;
		border-radius: $size-border-radius;
		border: solid 3px $color-border;
		color: $color-fg-bold;
		cursor: pointer;
		display: inline-block;
		font-weight: $font-weight-bold;
		height: 3.15em;
		height: calc(2.75em + 6px);
		line-height: 2.75em;
		min-width: $size-element-margin * 4 * $calcratio;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;

		&:focus, &:hover {
			border-color: $color-accent-bg;
			color: $color-accent-bg;
		}
		
		&:active {
			background-color: transparentize($color-accent-bg, 0.9);
			border-color: $color-accent-bg;
			color: $color-accent-bg;
		}

		&.icon {
			padding-left: $size-element-margin / 2;
			padding-right: $size-element-margin / 2 - $size-element-margin / 4;
			min-width: 0;
			
			&:before {
				margin-right: $size-element-margin / 4;
			}
		}

		&.fit {
			display: block;
			margin: 0 0 ($size-element-margin * 0.5) 0;
			min-width: 0;
			width: 100%;
		}
		
		&.small {
			font-size: 0.8em;
		}
		
		&.big {
			font-size: 1.35em;
		}

		&.special {
			background-color: $color-accent-bg;
			border-color: $color-accent-bg;
			color: $color-accent-fg;
			
		    &:focus, &:hover {
			    border-color: $color-accent-bg;
			    background-color: transparent;
			    color: $color-accent-bg;
		    }
		
		    &:active {
			    background-color: transparentize($color-accent-bg, 0.9);
			    border-color: $color-accent-bg;
			    color: $color-accent-bg;
		    }

		}
		
		&.disabled,
		&:disabled {
			background-color: $color-border2-bg !important;
			border-color: $color-border2-bg !important;
			color: $color-fg-light !important;
			opacity: 0.5 !important;
			cursor: default !important;
		}
	}

/* Button Lists */
	
	ul, ol {
		&.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
			margin-top: $size-element-margin * 0.5;
			
		    li,
		    &.vertical li {
			    display: block;
			    padding: 0;
			    margin: 0 ($size-element-margin * 0.5) ($size-element-margin * 0.5) 0;
			    text-align: center;
			    // width: 100%;
			
			    > * {
				    margin: 0;
				    width: 100%;
				    
				    &.icon {
				        min-width: $size-element-margin * 4 * $calcratio;
				    /*
					    &:before {
						    margin-left: -2em;
					    }
				    */
				    }
			    }
		    }
		    
		    &.vertical li {
		        margin-right: 0;
		    }

			&.small {
				li {
					margin: 0 ($size-element-margin * 0.25) 0 0;
				}
				
				&.vertical li {
					margin: 0 0 ($size-element-margin * 0.25) 0;
				}
			}
			
			&.fit {
				display: table;
				//margin-left: ($size-element-margin * -0.5);
				padding: 0;
				table-layout: fixed;
				//width: calc(100% + #{($size-element-margin * 0.5)});
				width: 100%;
				
				li {
					display: table-cell;
					padding: 0 ($size-element-margin * 0.5) 0 0;
				}
				
				&.small {
					//margin-left: ($size-element-margin * -0.25);
					//width: calc(100% + #{($size-element-margin * 0.25)});

					li {
						margin: 0 ($size-element-margin * 0.25) 0 0;
					}
				}
			}
		}
	}

@media screen and (min-width: #{$breakpoint-xsmall}) {

    /* List */

	    ul, ol {
		    &.actions {
			
			    li {
				    display: inline-block;
				    //margin: 0 ($size-element-margin * 0.5) 0 0;
				    vertical-align: middle;
				    text-align: inherit;
			
				    &:last-child {
					    margin-right: 0;
				    }
				    
				    > * {
				        width: auto;
				    }
			    }
			    
			    &.vertical {
			        li {
			            > * {
			                width: 100%;
			            }
			        }
			    }
		    }
	    }
}

