/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		@include vendor-property('appearance', 'none');
		@include vendor-property('transition', 'background-color #{$duration-transition} ease-in-out, color #{$duration-transition} ease-in-out, border-color #{$duration-transition} ease-in-out');
		background-color: transparent;
		border-radius: $size-border-radius;
		border: solid 3px $color-border;
		color: $color-fg-bold !important;
		cursor: pointer;
		display: inline-block;
		font-weight: $font-weight-bold;
		height: 3.15em;
		height: calc(2.75em + 6px);
		line-height: 2.75em;
		min-width: 10em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;

		&:hover {
			border-color: $color-accent-bg;
			color: $color-accent-bg !important;
		}
		
		&:active {
			background-color: transparentize($color-accent-bg, 0.9);
			border-color: $color-accent-bg;
			color: $color-accent-bg !important;
		}

		&.icon {
			padding-left: 1.35em;
			
			&:before {
				margin-right: 0.5em;
			}
		}

		&.fit {
			display: block;
			margin: 0 0 ($size-element-margin * 0.5) 0;
			min-width: 0;
			width: 100%;
		}
		
		&.small {
			font-size: 0.8em;
		}
		
		&.big {
			font-size: 1.35em;
		}

		&.special {
			background-color: $color-accent-bg;
			border-color: $color-accent-bg;
			color: $color-accent-fg-bold !important;
			
			&:hover {
				background-color: lighten($color-accent-bg, 5);
				border-color: lighten($color-accent-bg, 5);
			}
			
			&:active {
				background-color: darken($color-accent-bg, 5);
				border-color: darken($color-accent-bg, 5);
			}
		}
		
		&.disabled,
		&:disabled {
			background-color: $color-border2-bg !important;
			border-color: $color-border2-bg !important;
			color: $color-fg-light !important;
			cursor: default;
		}
	}

/* Button Lists */
	
	ul, ol {
		&.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
			
		    li,
		    &.vertical li {
			    display: block;
			    padding: 0;
			    margin: 0 0 ($size-element-margin * 0.5) 0;
			    text-align: center;
			    // width: 100%;
			
			    > * {
				    margin: 0;
				    width: 100%;
				
				    &.icon {
					    &:before {
						    margin-left: -2em;
					    }
				    }
			    }
		    }

			&.small {
				li {
					margin: 0 ($size-element-margin * 0.25) 0 0;
				}
				
				&.vertical li {
					margin: 0 0 ($size-element-margin * 0.25) 0;
				}
			}
			
			&.fit {
				display: table;
				margin-left: ($size-element-margin * -0.5);
				padding: 0;
				table-layout: fixed;
				width: calc(100% + #{($size-element-margin * 0.5)});
				
				li {
					display: table-cell;
					margin: 0 0 0 ($size-element-margin * 0.5);
				}
				
				&.small {
					margin-left: ($size-element-margin * -0.25);
					width: calc(100% + #{($size-element-margin * 0.25)});

					li {
						margin: 0 0 0 ($size-element-margin * 0.25);
					}
				}
			}
		}
	}

@media screen and (min-width: #{$breakpoint-xsmall}) {

    /* List */

	    ul, ol {
		    &.actions {
			    margin: 0 0 $size-element-margin 0;
			
			    li {
				    display: inline-block;
				    margin: 0 ($size-element-margin * 0.5) 0 0;
				    vertical-align: middle;
				    text-align: inherit;
			
				    &:last-child {
					    margin-right: 0;
				    }
				    
				    > * {
				        width: auto;
				    }
			    }
			    
			    &.vertical {
			        li {
			            > * {
			                width: 100%;
			            }
			        }
			    }
		    }
	    }
}

