/* Header */

    #header {
    
	    padding: $size-element-margin;
	    text-align: center;
	    color: $color-accent2-fg;
	    background-attachment:	scroll;
	    background-color:		$color-accent2-bg;
	    background-image:		url('images/overlay.png'),		url($header-bg);
	    background-position:	center center;
	    background-repeat:		repeat,							no-repeat;
	    background-size:		auto,							cover;
	
		strong, b {
			color: $color-accent2-fg-bold;
		}
	
		& > * {
			color: $color-accent2-fg;
			font-size: $fontsize-elevated;
			line-height: $lineheight-normal;
			margin: 0;
		}
		
		.avatar {
			font-size: 1em;
			width: $size-element-margin * $calcratio * $calcratio * $calcratio;
			background-color: rgba($color-accent-fg, 0.5);
			
			border-radius: 100%;
			margin: 0 0 $size-element-margin 0;
			
			&:before {
				display: none;
			}
			
			img {
				border-radius: 100%;
				width: 100%;
			}
		}

	    br {
		    display: none;
	    }
    }


/* Footer */

    #footer {

	    padding: $size-element-margin;
	    text-align: center;
	    color: $color-accent2-fg;
	    background-attachment:	scroll;
	    background-color:		$color-accent2-bg;
	    background-image:		url('images/overlay.png'),		url($header-bg);
	    background-position:	center bottom;
	    background-repeat:		repeat,							no-repeat;
	    background-size:		auto,							cover;

	    .icons {
		    margin: ($size-element-margin * 0.5) 0 0 0;
		
		    a {
			    color: $color-accent2-fg-light;
		    }
	    }
		
	    .copyright {
		    color: $color-accent2-fg-light;
		    font-size: $fontsize-narrowed;
		    list-style: none;
		    margin: ($size-element-margin * 0.5) 0 0 0;
		    padding: 0;

		    li {
			    // border-left-width: 0;
			    display: block;
			    margin-left: 0;
			    padding-left: 0;

			    a {
				    color: inherit;
			    }
		    }
	    }
    }


/* Main */

	#main {
		padding: $size-element-margin;
		
		/*
		> header,
		> section,
		> footer {
			margin: 1.5em 0;
			
			&:first-child {
				margin-top: 0;
				padding-top: 0;
			}
		}
		*/
	}

@media screen and (min-width: #{$breakpoint-xsmall}) {

    #header, #main, #footer {
        padding: $size-element-margin * $calcratio;
    }
}

@media screen and (min-width: #{$breakpoint-small}) {

    #header, #main, #footer {
        padding: $size-element-margin * $calcratio * $calcratio;
    }

    /*
    #main {
	    padding: ($size-header-pad * 1.5) $size-header-pad (($size-header-pad * 1.5) - $size-element-margin) $size-header-pad;

	    > section {
		    margin: ($size-header-pad * 1.5) 0 0 0;
		    padding: ($size-header-pad * 1.5) 0 0 0;
	    }
    }
    */
}

@media screen and (min-width: #{$breakpoint-medium}) {

    /* Header */
    
        body {
            position: relative;
        }
    
	    #header {
		    height: 100%;
		    left: 0;
		    padding: $size-element-margin * $calcratio;
		    padding-top: $size-element-margin * $calcratio * $calcratio;
		    position: absolute;
		    text-align: right;
		    top: 0;
		    width: (100% - 100% / $calcratio) / $calcratio;
		    background-attachment: scroll, fixed;
		    background-size: auto, 2 * (100% - 100% / $calcratio) / $calcratio auto;
	        background-position: -25% 0;
	        
	        .fixedheader-on & {
	            position: fixed;
    		    background-attachment: scroll;
		        background-size: auto, cover;
	            background-position: center top;
	        }

	        br {
		        display: inherit;
	        }
	    }

    /* Footer */

	    #footer {
	        background: transparent;
		    position: absolute; // fixed;
		    bottom: 0;
		    left: 0;
		    width: (100% - 100% / $calcratio) / $calcratio;
		    padding: $size-element-margin * $calcratio;
		    padding-top: 0;
		    padding-left: $size-element-margin * 0.5;
		    text-align: right;
		
	        .fixedheader-on & {
	            position: fixed;
	        }

		    .copyright {
			
			    li {
				    border-left: dotted 1px $color-accent2-fg-light;
				    display: inline-block;
				    line-height: 1;
				    margin-left: 0.75em;
				    padding-left: 0.75em;
				
				    &:first-child {
					    border-left: 0;
					    margin-left: 0;
					    padding-left: 0;
				    }
				
			    }
		    }
	    }
	
    /* Main */

	    #main {
		    margin-left: (100% - 100% / $calcratio) / $calcratio;
		    padding: $size-element-margin * $calcratio;
		    padding-top: $size-element-margin * $calcratio * $calcratio - $size-element-margin * 0.5;
	    }
}

@media screen and (min-width: #{$breakpoint-large}) {

    /* Header */

	    #header {
		    padding: $size-element-margin * $calcratio * $calcratio;
		    padding-top: $size-element-margin * $calcratio * $calcratio * $calcratio;
		    width: 100% - 100% / $calcratio;
		    background-size: auto, (100% - 100% / $calcratio) auto;
	        background-position: left top;
	        
	        .fixedheader-on & {
		        background-size: center auto;
	        }

	    }

    /* Footer */

	    #footer {
		    width: 100% - 100% / $calcratio;
		    padding: $size-element-margin * $calcratio * $calcratio;
		    padding-top: 0;
		    padding-left: $size-element-margin * 0.5;
	    }

    /* Main */

	    #main {
		    margin-left: 100% - 100% / $calcratio;
		    padding: $size-element-margin * $calcratio * $calcratio;
		    padding-top: $size-element-margin * $calcratio * $calcratio * $calcratio - $size-element-margin * 0.5;
		    max-width: 60em;
	    }
}

