/* Header */

    #header {
    
	    padding: 1.5em;
	    text-align: center;
	    color: $color-accent2-fg;
	    background-attachment:	scroll;
	    background-color:		$color-accent2-bg;
	    background-image:		url('images/overlay.png'),		url('../images/bg.jpg');
	    background-position:	top left,						center center;
	    background-repeat:		repeat,							no-repeat;
	    background-size:		auto,							cover;
	
		strong, b {
			color: $color-accent2-fg-bold;
		}
	
		& > * {
			color: $color-accent2-fg;
			font-size: 1.35em;
			line-height: 1.75em;
			margin: 0;
		}
		
		.image.avatar {
			margin: 0 0 ($size-element-margin * 0.5) 0;
			font-size: 1em;
			width: 6.25em;
		}

	    br {
		    display: none;
	    }
    }


/* Footer */

    #footer {

	    padding: 1.5em;
	    text-align: center;
	    color: $color-accent2-fg;
	    background-attachment:	scroll;
	    background-color:		$color-accent2-bg;
	    background-image:		url('images/overlay.png'),		url('../images/bg.jpg');
	    background-position:	top left,						bottom center;
	    background-repeat:		repeat,							no-repeat;
	    background-size:		auto,							cover;

	    .icons {
		    margin: ($size-element-margin * 0.5) 0 0 0;
		
		    a {
			    color: $color-accent2-fg-light;
		    }
	    }
		
	    .copyright {
		    color: $color-accent2-fg-light;
		    font-size: 0.8em;
		    list-style: none;
		    margin: ($size-element-margin * 0.5) 0 0 0;
		    padding: 0;

		    li {
			    // border-left-width: 0;
			    display: block;
			    // line-height: 2.25em;
			    margin-left: 0;
			    padding-left: 0;

			    a {
				    color: inherit;
			    }
		    }
	    }
    }


/* Main */

	#main {
		padding: 1.5em;
		
		/*
		> header,
		> section,
		> footer {
			margin: 1.5em 0;
			
			&:first-child {
				margin-top: 0;
				padding-top: 0;
			}
		}
		*/
	}

@media screen and (min-width: #{$breakpoint-xsmall}) {

    #header, #main, #footer {
        padding: 2.5em;
    }
}

@media screen and (min-width: #{$breakpoint-small}) {

    #header, #main, #footer {
        padding: 4em;
    }

    /*
    #main {
	    padding: ($size-header-pad * 1.5) $size-header-pad (($size-header-pad * 1.5) - $size-element-margin) $size-header-pad;

	    > section {
		    margin: ($size-header-pad * 1.5) 0 0 0;
		    padding: ($size-header-pad * 1.5) 0 0 0;
	    }
    }
    */
}

@media screen and (min-width: #{$breakpoint-medium}) {

    /* Header */
    
	    #header {
		    height: 100%;
		    left: 0;
		    padding: (3em * 2) 3em 3em 3em;
		    position: fixed;
		    text-align: right;
		    top: 0;
		    width: 30%;
		    background-attachment: scroll, fixed;

	        br {
		        display: inherit;
	        }
	    }

    /* Footer */

	    #footer {
	        background: transparent;
		    position: fixed;
		    bottom: 0;
		    left: 0;
		    width: 30%;
		    padding: 0 3em 3em 1em;
		    text-align: right;
		
		    .copyright {
			
			    li {
				    border-left: solid 1px $color-accent2-border;
				    display: inline-block;
				    line-height: 1;
				    margin-left: 0.75em;
				    padding-left: 0.75em;
				
				    &:first-child {
					    border-left: 0;
					    margin-left: 0;
					    padding-left: 0;
				    }
				
			    }
		    }
	    }
	
    /* Main */

	    #main {
		    margin-left: 30%;
		    padding: (3em * 2) 3em 3em 3em;
		    width: 70%;
	    }
}

@media screen and (min-width: #{$breakpoint-large}) {

    /* Header */

	    #header {
		    padding: (4em * 2) 4em 4em 4em;
		    width: 35%;
	    }

    /* Footer */

	    #footer {
		    width: 35%;
		    padding: 0 4em 4em 1em;
	    }

    /* Main */

	    #main {
		    margin-left: 35%;
		    padding: (4em * 2) 4em 4em 4em;
		    width: 65%;
		    max-width: 60em;
	    }
}

