/* Navigation */

    nav {
        margin: $size-element-margin 0;
        
        ol, ul {
            list-style: none;
            margin: 0;
            padding: 0;
            max-width: 20em;
            border-bottom: dotted 1px $color-fg-light;
        }
        
        li {
            margin: 0;
            padding: 0;
            border-top: dotted 1px $color-fg-light;
        }
        
        a {
            display: block;
            margin: 0;
            padding: $size-element-margin/4 $size-element-margin/2;
            border: none;
            
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            &:focus, &:hover, &:active {
                background-color: $color-link;
                color: $color-site;
            }
        }

        #header > & {
            margin-top: $size-element-margin;
            
            ol, ul {
                margin: 0 auto;
                border-color: $color-accent2-fg-light;
            }
            
            li {
                border-color: $color-accent2-fg-light;
            }
        
            a {
                &:focus, &:hover, &:active {
                    background-color: $color-accent2-fg-light;
                    color: $color-accent2-bg;
                }
            }
        }
        
    }

@media screen and (min-width: #{$breakpoint-medium}) {

    nav {
        #header > & {
            
            ol, ul {
                display: inline-block;
                min-width: 100%/$calcratio;
                max-width: 100%;
            }
        }
    }
}

@media screen and (min-width: #{$breakpoint-xlarge}) {

    nav {
        #header > & {
            font-size: 1em;
        }
    }
}


