/* Navigation */

    nav {
        margin: $size-element-margin 0;
        
        ol, ul {
            list-style: none;
            margin: 0;
            padding: 0;
            max-width: 20em;
            border-bottom: dotted 1px $color-fg-light;
        }
        
        li {
            margin: 0;
            padding: 0;
            border-top: dotted 1px $color-fg-light;
        }
        
        a {
            display: block;
            margin: 0;
            padding: $size-element-margin/4 $size-element-margin/2;
            border: none;
            
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            &:focus, &:hover, &:active {
                background-color: $color-link;
                color: $color-site;
            }
        }
        
        #header > & {
            margin-top: $size-element-margin;
            
            ol, ul {
                margin: 0 auto;
                border-color: $color-accent2-fg-light;
            }
            
            li {
                border-color: $color-accent2-fg-light;
            }
        
            a {
                &:focus, &:hover, &:active {
                    background-color: $color-accent2-fg-light;
                    color: $color-accent2-bg;
                }
            }
        }
        
        .flyinnav-on & {
            position: fixed !important;
            z-index: 1000;
            top: 0 !important;
            right: 100%;
            width: 100% !important;
            height: 100% !important;
            
            overflow: auto;
            
    		transition: right $duration-transition ease-in-out;

            background-color: rgba($color-accent2-bg, 0.95) !important;
            color: $color-accent2-fg-light;
            
            margin: 0 !important;
            padding: $size-element-margin !important;
            padding-top: $size-element-margin * 3 !important;
            
            font-size: $fontsize-elevated !important;
            
            &.flyinnav-active {
                right: 0 !important;
            }
            
            ol, ul, li {
                border-color: inherit !important;
            }
            
            ol, ul {
                display: block !important;
                text-align: center !important;
                margin: 0 auto !important;
                min-width: 0 !important;
                width: auto !important;
                max-width: 20em !important;
            }
            
            a {
                color: inherit !important;
                &:focus, &:hover, &:active {
                    background-color: $color-accent2-fg-light !important;
                    color: $color-accent2-bg !important;
                }
            }
            
            .button {
                color: inherit !important;
                background-color: transparent !important;
                border-color: inherit;
                &:focus, &:hover, &:active {
                    color: $color-accent2-bg !important;
                    background-color: $color-accent2-fg-bold !important;
                    border-color: $color-accent2-fg-bold !important;
                }
            }
            
            & > .button {
                position: absolute;
                top: $size-element-margin;
                right: $size-element-margin;
            }
        }
    }
    
    #header .flyinnav-open {
        margin-top: $size-element-margin;
    }

@media screen and (min-width: #{$breakpoint-medium}) {

    nav {
        #header > & {
            
            ol, ul {
                display: inline-block;
                min-width: 100%/$calcratio;
                max-width: 100%;
            }
        }
        
        .flyinnav-on & {
            width: (100% - 100% / $calcratio) / $calcratio !important;
            
            &.flyinnav-active {
                right: 100% - (100% - 100% / $calcratio) / $calcratio !important;
            }
        }
    }
    
}

@media screen and (max-width: #{$breakpoint-medium}) {
    #header .flyinnav-open {
        position: fixed;
        z-index: 999;
        top: $size-element-margin;
        right: $size-element-margin;
        margin: 0;
        color: $color-accent2-fg-bold !important;
        background-color: $color-accent2-bg !important;
        border-color: $color-accent2-fg-light;
        &:focus, &:hover, &:active {
            color: $color-accent2-bg !important;
            background-color: $color-accent2-fg-bold !important;
            border-color: $color-accent2-bg !important;
        }
    }

}

@media screen and (min-width: #{$breakpoint-large}) {

    nav {
        .flyinnav-on & {
            width: 100% - 100% / $calcratio !important;
            
            &.flyinnav-active {
                right: 100% / $calcratio !important;
            }
        }
    }
}

@media screen and (min-width: #{$breakpoint-xlarge}) {

    nav {
        #header > & {
            font-size: 1em;
        }
    }
}


