// Calculation Ratio

    $calcratio:                 21/13; // appr. golden ratio

// Duration.
    $duration-transition:       0.25s;

// Typography.
    $font-family:               'Source Sans Pro', sans-serif;
    $font-family-fixed:         'Source Code Pro', monospace;
    $font-weight:               400;
    $font-weight-bold:          700;
    
    $fontsize-normal:           1em;
    $lineheight-normal:         $calcratio; // do not use a unit here!
    $fontsize-narrowed:         0.8em;
    $fontsize-elevated:         1.25em;
    $fontsize-title:            $fontsize-normal * $calcratio * $calcratio;

// Color.
    $color-bg:                  #fff;
    $color-fg:                  #333;
    $color-fg-bold:             #555;
    $color-fg-light:            #666;
    $color-border:              #eee;
    $color-border-bg:           #f6f6f6;
    $color-border2:             #ddd;
    $color-border2-bg:          #e6e6e6;

    $color-accent-bg:           #115c77;
    $color-accent-fg:           rgba(#ffffff, 0.25);
    $color-accent-fg-bold:      #ffffff;
    $color-accent-fg-light:     rgba(#ffffff, 0.40);
    $color-accent-border:       rgba(255,255,255,0.25);
    $color-accent-border-bg:    rgba(255,255,255,0.075);
    $color-accent-border2:      rgba(255,255,255,0.5);
    $color-accent-border2-bg:   rgba(255,255,255,0.2);
    
    $color-accent2-bg:          #082d3b;
    $color-accent2-fg:          rgba(255,255,255,0.75);
    $color-accent2-fg-bold:     #ffffff;
    $color-accent2-fg-light:    rgba(255,255,255,0.5);
    $color-accent2-border:      rgba(255,255,255,0.25);
    $color-accent2-border-bg:   rgba(255,255,255,0.075);
    $color-accent2-border2:     rgba(255,255,255,0.5);
    $color-accent2-border2-bg:  rgba(255,255,255,0.2);

// Header Image.
    $header-bg:                 '../images/bg.png';

// Size.
    $size-border-radius:        3px;
    $size-element-margin:       1em * $lineheight-normal !default; // 2em;
    $size-element-height:       $size-element-margin * $lineheight-normal !default; // 2.75em;

// Breakpoints
    $breakpoint-xlarge:         1801px;
    $breakpoint-large:          1281px;
    $breakpoint-medium:         981px;
    $breakpoint-small:          737px;
    $breakpoint-xsmall:         481px;


// Calculations -- don't change it

    // $size-element-margin: 1em * $lineheight-normal !default;
    
    $fontsize-h1: $fontsize-title !default;
    $fontsize-h2: ($fontsize-title + $fontsize-normal) / 2 !default;
    $fontsize-h3: ($fontsize-title + $fontsize-normal * 2) / 3 !default;
    $fontsize-h4: ($fontsize-title + $fontsize-normal * 3) / 4 !default;



